@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --background-color: #141414;
  --text-color: #a3a3a3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.app .header h1 {
  font-weight: 400;
  font-size: 36px;
  color: #cacaca;
}

.app .conversion {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.app .conversion .value form input {
  padding: 0.2rem 0.5rem;
  border: 0;
  border-bottom: 0.5px solid var(--text-color);
  outline: none;
  text-align: center;
  background-color: var(--background-color);
  color: #e8f1f7;
  font-size: 24px;
}

.app .conversion .value span {
  position: relative;
  right: 2.2rem;
  font-size: 20px;
  color: var(--text-color);
}

.app .conversion .answer {
  border-bottom: 0.5px solid var(--text-color);
  padding: 0.2rem 0.5rem;
  width: 17.262rem;
}

.app .conversion .answer p {
  font-size: 24px;
  text-align: center;
  color: #e8f1f7;
}

.app .conversion .answer span {
  font-size: 20px;
  color: var(--text-color);
  position: relative;
  left: 6rem;
}

@media (max-width:48.75em) {
  
}